<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>naver.com daum.net nate.com tistory.com egloos.com</string>
		<key>Key</key>
		<string>includes</string>
		<key>Title</key>
		<string>Host to force assign font</string>
		<key>Titles</key>
		<array/>
		<key>Type</key>
		<string>TextField</string>
	</dict>
	<dict>
		<key>Key</key>
		<string>excludes</string>
		<key>Title</key>
		<string>Host to exclude from above</string>
		<key>Type</key>
		<string>TextField</string>
	</dict>
</array>
</plist>
